.widget-container {
  height: 300px;
  width: 300px;
  display: block;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(66, 66, 66, 0.3);
}

.widget-header {
  margin-bottom: 10px;
  gap: 10px;
  display: flex;
  align-items: baseline;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.refresh-btn:hover {
  cursor: pointer;
}

fa-icon:hover {
  color: gray;
}

fa-icon {
  color: rgb(0, 146, 73);
}

.widget-content {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(66, 66, 66, 0.3);
  box-sizing: content-box;
  overflow: auto;
  padding: 10px;
  height: calc(100% - 50px);
  justify-content: space-around;
  align-content: space-around;
  align-items: baseline;
  justify-items: stretch;
}
